<!DOCTYPE html>
<title>Car Match</title>
<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <h1 id="title">🚗 Car Match</h1>
            <div class="question-container">

                <p id="question-budget">What's your budget?</p>

                <div class="slider-container">
                    <div class="slider">
                        <input type="range" min="0" max="100" value="0"
                            oninput="rangeValueMin.innerText = this.value * 1000">
                        <div class="row">
                            <p class="range-val">Min: $</p>
                            <p class="range-val" id="rangeValueMin">0</p>
                        </div>
                    </div>

                    <div class="slider">
                        <input type="range" min="0" max="100" value="0"
                            oninput="rangeValueMax.innerText = this.value * 1000">
                        <div class="row">
                            <p class="range-val">Max: $</p>
                            <p class="range-val" id="rangeValueMax">0</p>
                        </div>
                    </div>

                    <div class="slider">
                        <input type="checkbox" id="no-limit" name="no-limit" value="no-limit">
                        <label for="no-limit" class="cbox"> no limit</label><br>
                    </div>
                </div>

                <div class="input-box-container">
                    <div class="input-box">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input placeholder="Enter the characteristics you want for your dream car"
                            id="filter-text-val-yes">
                    </div>

                    <div class="input-box">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input placeholder="Enter the characteristics you DON'T want for your dream car"
                            id="filter-text-val-no">
                    </div>

                    <div class="search-div">
                        <button type="submit" class="search-button" onclick="filterText()">Search</button>
                    </div>
                </div>
            </div>

            <div id="answer-box">
            </div>
        </div>


        <script>
            function answerBoxTemplate(make, model, year, specs, picture, url, reviews) {
                h3 = `<h3 class='car-make-model'>${year} ${make} ${model}</h3>
                `

                specs_html = ``

                for (let spec in specs) {
                    spec_val = specs[spec]

                    // capitalize spec name
                    spec_edit = spec.charAt(0).toUpperCase() + spec.slice(1)

                    specs_html += `<p class='car-spec'>${spec_edit}: ${spec_val}</p>
                    `
                }

                if (picture == '') {
                    picture = '../static/images/no_image.png'
                }

                final = `<div class="result-flex">
                            <div class="result-box result-text"> 
                                ` + h3 + specs_html + `
                                <p class='reviews'>Review: ${reviews}</p>
                                <p class='url'> URL: <a href="${url}">${url}</a></p>
                            </div>
                            <div class="result-box result-square">
                                <img class="result-img" src="${picture}" />
                            </div>
                        </div>
                        <hr class="result-hr">
                        `

                return final
            }


            function filterText() {
                document.getElementById("answer-box").innerHTML = "";

                // get input values
                let filter_yes = document.getElementById("filter-text-val-yes").value;
                let filter_no = document.getElementById("filter-text-val-no").value;
                let range_min = document.getElementById("rangeValueMin").textContent;
                let range_max = document.getElementById("rangeValueMax").textContent;
                let no_limit = document.getElementById("no-limit").checked;

                if ((parseInt(range_min) > parseInt(range_max)) && !no_limit) {
                    // if min gresater than max
                    let tempDiv = document.createElement("div");
                    tempDiv.classList.add("error");
                    tempDiv.innerHTML = `<p>Please enter in a valid minimum/maximum price combination.</p>`;
                    document.getElementById("answer-box").appendChild(tempDiv);

                } else {
                    // url search params can be organized as something like: /cars?yes=...&no=...&min=...&max=...
                    let url_params = { 'yes': filter_yes, 'no': filter_no };

                    if (no_limit) {
                        url_params['no-limit'] = true;
                    }
                    else {
                        url_params['min'] = range_min;
                        url_params['max'] = range_max;
                    }

                    /**
                    console.log(filter_yes);
                    console.log(filter_no);
                    console.log(range_min);
                    console.log(range_max);
                    console.log(no_limit);
                    console.log(url_params);
                    **/

                    /**
                    // simple test of answerBoxTemplate (doesn't actually put out a good answer at this time)
                    let tempDiv = document.createElement("div");
                    tempDiv.classList.add("result");
                    tempDiv.innerHTML = answerBoxTemplate(make='Toyota', model='Prius', year=2021, 
                    specs={'color': 'red', 'price': '$50000'}, reviews=[], picture="../static/images/placeholder_prius.png");
                    document.getElementById("answer-box").appendChild(tempDiv);

                    tempDiv = document.createElement("div");
                    tempDiv.classList.add("result");
                    tempDiv.innerHTML = answerBoxTemplate(make='Mercedes', model='GLA', year=2023, 
                    specs={'color': 'black', 'price': '$70000'}, reviews=[], picture="../static/images/placeholder_gla.png");
                    document.getElementById("answer-box").appendChild(tempDiv);
                    **/

                    let num_results = 0;

                    // output the results
                    fetch("/cars?" + new URLSearchParams(url_params).toString())
                        .then((response) => response.json())
                        .then((data) => data.forEach(row => {
                            let tempDiv = document.createElement("div");
                            tempDiv.classList.add("result");
                            tempDiv.innerHTML = answerBoxTemplate(make = row['make'], model = row['model'], year = row['year'], specs = { 'Price': row['starting price'] }, picture = row['image'], url = row['url'], reviews = []);
                            document.getElementById("answer-box").appendChild(tempDiv);
                            num_results += 1;
                        }));

                    console.log(num_results);
                    if (num_results == 0) {
                        let tempDiv = document.createElement("div");
                        tempDiv.classList.add("error");
                        tempDiv.innerHTML = `<p>No cars match your query. Please try again with new inputs.</p>`;
                        document.getElementById("answer-box").appendChild(tempDiv);
                    }
                }
            }


            /**
            function filterText(){
                document.getElementById("answer-box").innerHTML = ""
                console.log(document.getElementById("filter-text-val").value)
                fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr,row.imdb_rating)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

            }
            **/

        </script>
    </div>
</body>