<!doctype html>
<title>Car Matchers</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <h1 id="title">🚗 Car Match</h1>
            <div class="question-container">
                
                <p id="question-budget">What's your budget? (in thousands)</p>
                
                <div class="slider-container">
                    <div class="slider">
                        <input type="range" min="0" max="1000" value="100"
                            oninput="rangeValueMin.innerText = this.value">
                        <div class="row">
                            <p class="range-val">Min: $</p>
                            <p class="range-val" id="rangeValueMin">100</p>
                        </div>
                    </div>

                    <div class="slider">
                        <input type="range" min="0" max="1000" value="100"
                            oninput="rangeValueMax.innerText = this.value">
                        <div class="row">
                            <p class="range-val">Max: $</p>
                            <p class="range-val" id="rangeValueMax">100</p>
                        </div>
                    </div>

                    <div class="slider">
                        <input type="checkbox" id="no-limit" name="no-limit" value="no-limit">
                        <label for="no-limit" class="cbox"> no limit</label><br>
                    </div>
                </div>

                <div class="input-box-container">
                    <div class="input-box">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input placeholder="Enter the characteristics you want for your dream car" id="filter-text-val-yes">
                    </div>

                    <div class="input-box">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input placeholder="Enter the characteristics you DON'T want for your dream car" id="filter-text-val-no">
                    </div>

                    <div class="search-div">
                        <button type="submit" class="search-button" onclick="filterText()">Search</button>
                    </div>
                </div>

            </div>
            <div id="answer-box">
            </div>
        </div>


        <script>
            function answerBoxTemplate(make, model, year, specs, reviews, picture) {
                final = `<h3 class='car-make-model'>${year} ${make} ${model}</h3>
                `

                for (let spec in specs) {
                    spec_val = specs[spec]
                    console.log(spec + ' is ' + spec_val)

                    // capitalize spec name
                    spec_edit = spec.charAt(0).toUpperCase() + spec.slice(1)

                    final += `<p class='car-spec'>${spec_edit}: ${spec_val}</p>
                    `
                }
                final += `<img class="result-img" src="${picture}" />
                <hr class="result-hr">`

                return final
            }

            
            function filterText() {
                document.getElementById("answer-box").innerHTML = ""
                console.log(document.getElementById("filter-text-val-yes").value)
                console.log(document.getElementById("filter-text-val-no").value)
                console.log(document.getElementById("rangeValueMin").textContent)
                console.log(document.getElementById("rangeValueMax").textContent)
                console.log(document.getElementById("no-limit").value)


                // simple test of answerBoxTemplate (doesn't actually put out a good answer at this time)
                let tempDiv = document.createElement("div")
                tempDiv.classList.add("result")
                tempDiv.innerHTML = answerBoxTemplate('Toyota', 'Prius', 2021, {'color': 'red', 'price': '$50000'})
                document.getElementById("answer-box").appendChild(tempDiv)

                tempDiv = document.createElement("div")
                tempDiv.classList.add("result")
                tempDiv.innerHTML = answerBoxTemplate('Mercedes', 'GLA', 2023, {'color': 'black', 'price': '$70000'})
                document.getElementById("answer-box").appendChild(tempDiv)


                /**
                 * fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                    .then((response) => response.json())
                    .then((data) => data.forEach(row => {

                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }));
                **/
            }
        </script>
    </div>
</body>